{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="w-100">
    <section id="video-fond">
        <video class="video horizontal xd-none xd-sm-block" disableremoteplayback="" poster="" preload="auto" data-object-fit="" autoplay="" playsinline="" muted="" loop="" data-was-processed="true">
            <!-- Source vidéo par défaut -->
            <source type="video/webm" src="video/video.webm" media="(orientation: landscape)">
        </video>
    </section>

    <h3 class="mt-5 text-center">Retrouvez bientôt nos prestations...</h3>
</div>
{% endblock %}
