/*color1: #EED9BC;*/
/*color2: #876A42;*/
/*color3: #000;*/

*{
    color: #876A42;
}

.my_navbar img{
    max-width: 100%;
    max-height: 150px;
}

#video-fond{
    max-height: 400px;
    overflow: hidden;
}
#video-fond video{
    width: 100%;
}