$color-light: rgb(238, 217, 188);
$color-dark: #876A42;
$color3: #000;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat&display=swap');
@import "contact";
@import "gestion";
@import "projects";
@import "~bootstrap/scss/bootstrap";

//font-family: 'Italiana', serif;
//font-family: 'Montserrat', sans-serif;

.backg-dark{
    background-color: $color-dark;
}
.backg-light{
    background-color: $color-light;
}
*{
    font-family: 'Montserrat', sans-serif;
}
a{
    color: currentColor;
    text-decoration: none;
}
a:hover{
    color: currentColor;
    font-weight: 700;
}

@for $i from 1 through 6 {
    .formHeight#{$i} {
        height: 100px*$i;
    }
}

body {
    color: $color-dark;
    background-color: whitesmoke;
}
h1{
    font-family: 'Italiana', serif;
    font-size: 24px;
}
section{
    padding-bottom: 48px;
}
.sticky-one{
    position: -webkit-sticky;
    position: sticky;
    top:0;
}
.modification{
    position: absolute;
    display: flex;
    top: 10px;
    left: 10px;
    background-color: $color-light;
    border-radius: 50%;
    border: solid 2px $color-dark;
    height: 40px;
    width: 40px;
    text-align: center;
    align-items: center;
    div{
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: solid 1px $color-dark;
        color: $color-dark;
    }
}
button{
    border-radius: 16px;
    padding: 4px 8px;
    background-color: $color-light;
    border : solid 1px $color-dark;
    color: $color-dark;
}
button:hover{
    color: $color-light;
    background-color: $color-dark;
    font-weight: 700;
}
#navbar{
    z-index: 100;
    min-height: 96px;
    background-color: whitesmoke;
    border-bottom: 4px $color-dark solid;
    .menu{
        width: 400px;
        margin: auto;
        margin-bottom:8px;
    }
    .admin{
        a{
            font-size: 36px;
        }
    }
    .link{
        width: 120px;
        text-align: center;
    }
    a{
        font-size: 24px;
        font-family: 'Italiana', serif;
        color: currentColor;
    }
    .my_navbar img {
        max-width: 100%;
    }
    .is-not-reduce {
        opacity: 1;
        max-height: 150px;
        transition: 1s;
    }
    .is-reduce {
        opacity: 0;
        max-height: 1px;
        transition: 1s;
    }
    #logo-circle{
        font-family: 'Italiana', serif;
        top:8px;
        left:8px;
        img{
            width: 72px;
        }
    }
    .disappear{
        opacity: 0;
        transition: 1s;
    }
    .appear{
        opacity: 1;
        transition: 1s;
    }
    .focus{
        text-decoration: underline;
    }
}
#video-fond {
    max-height: 400px;
    overflow: hidden;
    video {
        width: 100%;
    }
}
#philosophy{
    padding-top:48px;
    .img{
        border: solid 1px $color-light;
        overflow: hidden;
        img{
            width: 360px;
            object-fit: contain;
        }
    }
    .img-r{
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    .img-l{
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    .line{
        width: 50px;
        border: solid 1px $color-light;
    }
    .text{
        width: 360px;
        border-left: solid 1px $color-light;
        border-right: solid 1px $color-light;
        padding: 0 8px;
    }
}
#houses{
    border-top: 4px $color-dark solid;
    border-bottom: 4px $color-dark solid;
    background-color: $color-light;
    .card-house{
        left: -150px;
        width: 370px;
        padding-top: 96px;
        .title{
            font-family: 'Italiana', serif;
            z-index: 20;
            color: $color-dark;
            font-size: 48px;
            top: 24px;
            left : 96px;
        }
        .infos{
            background-color: rgba(245,245,245,0.6);
            height: 160px;
            width: 240px;
            z-index: 10;
            color: $color-dark;
            font-size: 16px;
            top: 32px;
            left : -104px;
            padding: 32px 8px;
        }
        .image{
            z-index: 5;
            width: 370px;
        }
        .description{
            background-color: rgba(245,245,245,0.6);
            height: 176px;
            width: 480px;
            z-index: 4;
            color: $color-dark;
            font-size: 14px;
            top: 192px;
            left : 300px;
            padding: 24px 0 0 80px;
        }
    }
    .bloc-card:nth-child(even){
        .card-house {
            left:150px;
            .title {
                top: 24px;
                left: 96px;
            }

            .infos {
                text-align: right;
                top: 24px;
                left: 270px;
                padding: 32px 8px;
            }

            .description {
                top: 192px;
                left: -400px;
                padding: 24px 80px 0 0;
            }
        }
    }
    .serie{
        margin-top: 48px;
        width: 100%;
        .mini{
            height: 80px;
            width: 80px;
            border: solid 1px $color-dark;
        }
    }
}
#contact{
    padding-top: 48px;
}
#footer{
    border-top: solid 4px $color-light;
    padding-top: 36px;
    height: 150px;
    background-color: $color-dark;
    color: $color-light;
    a{
        color: $color-light;
    }
}
.footer div{
    color: $color-light;
}