.vich_image{
    img{
        width: 300px;
    }
}
.house_pictures{
    .delete{
        top: -12px;
        left: 190px;
        button{
            background-color: transparent;
            border: none;
            color: #842029;

        }
    }
}