{% extends 'base.html.twig' %}

{% block title %}Contact Angelus Cosy IMMO{% endblock %}

{% block body %}

<div class="contact w-100 d-flex flex-row mt-5">
    <div class="address col-3 offset-2">
        <p>
            Angelus Cosy IMMO<br>
            8, place Jean JAURES<br>
            59000 LILLES
        </p>
        <p>
            07-01-23-45-67
        </p>
        <p><a href="mailto:contact@ac-immo.fr">contact@ac-immo.fr</a></p>
    </div>
    <div class="picture col-5">
        <img src="{{ asset('build/images/archi.webp') }}" alt="Photo d'une cuisine avec en premier plan une plume, de l'encre de chine et un bloc de papier, et au fond un mur de brique. Ambiance moderne et chaleureuse.">
    </div>
</div>

{% endblock %}
