<div class="footer text-center d-flex flex-wrap justify-content-around" id="footer">
    <div class="col-3">
        <div>Mentions légales</div>
    </div>
    <div class="col-3">
        ACI<br>8, place Jean JAURES<br>59000 LILLES
    </div>
    <div class="col-3">
    <div><a href="{{ path('contact') }}">Contact</a></div>
    </div>
</div>
