<div id="footer" class="footer text-center d-flex flex-column flex-md-row justify-content-around">
    <div class="col-md-3 mb-2">
        <div>Mentions légales</div>
    </div>
    <div class="col-md-3 mb-2">
        ACI<br>8, place Jean JAURES<br>59000 LILLES
    </div>
    <div class="col-md-3">
    <div><a href="{{ path('contact') }}">Contact</a></div>
    </div>
</div>
