{% extends 'base.html.twig' %}

{% block title %}Edit Characteristic{% endblock %}

{% block body %}
    <h1>Edit Characteristic</h1>

    {{ include('characteristic/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('characteristic_index') }}">back to list</a>

    {{ include('characteristic/_delete_form.html.twig') }}
{% endblock %}
