{% extends 'base.html.twig' %}

{% block title %}New Characteristic{% endblock %}

{% block body %}
    <h1>Create new Characteristic</h1>

    {{ include('characteristic/_form.html.twig') }}

    <a href="{{ path('characteristic_index') }}">back to list</a>
{% endblock %}
