{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Enregistrer les éléments de contact</h1>
    <div class="mx-auto mb-5 text-left">
        {{ include('admin_contact/_form.html.twig') }}
    </div>
{% endblock %}
