{% extends 'base.html.twig' %}

{% block title %}Edit Seo{% endblock %}

{% block body %}
    <h1 class="text-center my-5">SEO<br/>Gestion du référencement du site</h1>
    <div class="mb-5">
        {{ include('seo/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
{% endblock %}
